/*
.card-body {
    background: #f004;
    &:hover {
        background: transparent;
    }
    
    
    border-radius: 0px !important;
    margin: 0.2rem;
}

.card-dash {
    background: blue;
}

.card {
    background: purple;
}

.card-dash.card {
    background: pink;
}*/


@import url('https://unpkg.com/7.css');

:root {
    --text-darker-7: #222;
}

body {
    background-image: url("https://preview.redd.it/mount-fuji-1920x1080-v0-jqa9fjy115yg1.jpeg?width=1080&crop=smart&auto=webp&s=9b510de793dfd0a8f59899fa2e990532ccd989fb");
    background-attachment: fixed;
    background-size: cover;
    image-rendering: crisp-edges;
}

[role="tooltip"] {
    color: var(--text-darker-7);
    margin-left: 160px !important;
}

.tooltip-arrow, .dash-ctitle2, .dash-ctitle {
    display: none !important;
}

.window-body, .text-reset, .window-body p {
    color: var(--text-darker-7) !important;
}

.text-muted {
    color: #444 !important;
}

.card {
    background: white;
}

.friend-circle.offline {
    opacity: 0.5 !important;
}

.window:not(#unimportant) {
    padding: 0px !important;
}

.guild-card-fg {
    display: none;
}
